body {
    background-color: black;
    display: flex;
    justify-content: center;
}

.base-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
}

.circle0 {
    background-color: blue;
    z-index: 4;
}

.circle1 {
    background-color: rgb(0, 0, 192);
    top: 50px;
    z-index: 3;
}

.circle2 {
    background-color: rgb(0, 0, 156);
    top: 100px;
    z-index: 2;
}

.circle3 {
    background-color: rgb(0, 0, 97);
    top: 150px;
    z-index: 1;
}